.explorURL {
  color: black;
  font-weight: 500;
  animation-duration: 2s;
  animation-name: fadeIn;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.explorURL a {
  font-size: 13px;
  width: 180px;
  text-align: center;
  text-decoration: none;
  color: #323657;
}

.explorURL a:hover {
  text-decoration: none;
  background-color: #e9e9f2;
  border-radius: 5px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
